*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  color: hsl(30, 10%, 34%);
  line-height: 1.5;
}

h1,
h2 {
  line-height: 1;
  font-family: "Young Serif", serif;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

h1 {
  color: hsl(24, 5%, 18%);
}

h2 {
  color: hsl(14, 45%, 36%);
}

h3 {
  color: hsl(332, 51%, 32%);
  margin-bottom: 0;
}

p {
  margin: 0;
}
