*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  color: hsl(30, 10%, 34%);
  line-height: 1.5;
}

h1,
h2 {
  line-height: 1;
  font-family: "Young Serif", serif;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

h1 {
  color: hsl(24, 5%, 18%);
  margin-top: 0;
}

h2 {
  color: hsl(14, 45%, 36%);
}

h3 {
  color: hsl(332, 51%, 32%);
  margin: 0;
}

p {
  margin: 0;
}

.list {
  padding-left: 2.5rem;
}

.list > li {
  padding-left: 1rem;
}

/* Overview */
.overview {
  background: hsl(330, 100%, 98%);
  padding: 2rem;
  border-radius: 1.5rem;
}

.overview__item > span {
  font-weight: 600;
}

.overview__list {
  margin-bottom: 0;
}

.overview__item:nth-of-type(2) {
  margin: 1rem 0;
}

.bold {
  font-weight: 600;
}

/* Instructions */
.instruction {
  border-top: 0.2rem solid hsl(30, 18%, 87%);
  border-bottom: 0.2rem solid hsl(30, 18%, 87%);
  padding: 3rem 0;
}

.instruction__list {
  font-weight: 600;
  list-style-type: decimal;
  color: hsl(14, 45%, 36%);
  margin-bottom: 0;
}

.instruction__heading {
  margin-top: 0;
}

.instruction__item {
  margin-bottom: 1rem;
}

.instruction__item:nth-of-type(6) {
  margin-bottom: 0;
}

.instruction__item > p {
  font-weight: 400;
  color: hsl(30, 10%, 34%);
}

/* Nutrition */
.nutrition__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 0.1rem solid hsl(30, 18%, 87%);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.nutrition__content p {
  margin-left: 2.5rem;
}

.nutrition__content p:nth-of-type(2) {
  font-weight: 600;
  color: hsl(14, 45%, 36%);
}

.nutrition__text {
  margin-bottom: 2rem;
}

/* Block */
.block {
  padding: 3rem 2.5rem;
}

.block-intro__header {
  margin-bottom: 3rem;
}

.block-intro__ingredients li {
  margin-bottom: 1rem;
}
