<section class="block">
  <div class="block-intro__header">
    <h1>Simple Omelette Recipe</h1>
    <p>
      An easy and quick dish, perfect for any meal. This classic omelette
      combines beaten eggs cooked to perfection, optionally filled with your
      choice of cheese, vegetables, or meats.
    </p>
  </div>
  <section class="overview">
    <h3>Preparation time</h3>
    <ul class="list overview__list">
      <li class="overview__item">
        <span>Total:</span> Approximately 10 minutes
      </li>
      <li class="overview__item"><span>Preparation</span>: 5 minutes</li>
      <li class="overview__item"><span>Cooking</span>: 5 minutes</li>
    </ul>
  </section>
  <h2>Ingredients</h2>
  <ul class="list block-intro__ingredients">
    <li>2-3 large eggs</li>
    <li>Salt, to taste</li>
    <li>Pepper, to taste</li>
    <li>1 tablespoon of butter or oil</li>
    <li>Optional fillings: cheese, diced vegetables, cooked meats, herbs</li>
  </ul>
</section>
