<section class="nutrition">
  <h2>Nutrition</h2>
  <p class="nutrition__text">
    The table below shows nutritional values per serving without the additional
    fillings.
  </p>
  <div class="nutrition__table">
    <div class="nutrition__content">
      <p>Calories</p>
      <p>277kcal</p>
    </div>
    <div class="nutrition__content">
      <p>Carbs</p>
      <p>0g</p>
    </div>
    <div class="nutrition__content">
      <p>Protein</p>
      <p>20g</p>
    </div>
    <div class="nutrition__content">
      <p>Fat</p>
      <p>22g</p>
    </div>
  </div>
</section>
